<div class="container mb-5 mt-5">
  <div class="d-flex justify-content-center">
    <div class="w-50">
      <input
        class="form-control"
        type="text"
        id="search"
        placeholder="Search by email"
        #searchInput
      />
    </div>
    <div class="ms-3">
      @if(!searchInput.value) {
      <button (click)="searchForUser(searchInput.value)" class="btn btn-outline-primary">Search</button>
    }@else {
      <button (click)="clearSearch()" class="btn btn-outline-primary">Clear</button>
    }

    </div>
  </div>
</div>
