<div class="container">
  <div class="row">
    @if(searchedUser){
      <div class="col-md-4 col-12 mb-5 text-center">
        <div class="card" style="width: 18rem;">
            <img [src]="searchedUser.image" class="card-img-top" style="width:286px;height: 250px; object-fit: cover;" >
            <div class="card-body">
            <h4 class="card-title">{{searchedUser.username}}</h4>
            @if (searchedUser.isAdmin) {
              <i class="fas fa-star green-star" style="color: green;"></i>
            }@else {
              <i class="fas fa-star red-star" style="color: red;"></i>
            }
            <p class="card-text">{{searchedUser.email}}</p>
            <p class="card-text">{{searchedUser.phone}}</p>

          </div>
        </div>
      </div>
    }@else{
      @for (user of usersFromParent; track $index) {
        <div class="col-md-4 col-12 mb-5 text-center">
          <div class="card" style="width: 18rem;">
              <img [src]="user.image" class="card-img-top" style="width:286px;height: 250px; object-fit: cover;" >
              <div class="card-body">
              <h4 class="card-title">{{user.username}}</h4>
              @if (user.isAdmin) {
                <i class="fas fa-star green-star" style="color: green;"></i>
              }@else {
                <i class="fas fa-star red-star" style="color: red;"></i>
              }
              <p class="card-text">{{user.email}}</p>
              <p class="card-text">{{user.phone}}</p>

            </div>
          </div>
        </div>
      }
    }


  </div>
</div>
